<!DOCTYPE html>
<html>
	<head>
		<script src="@{'/public/javascripts/jquery-1.6.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/bootstrap/js/bootstrap.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<link rel="stylesheet" media="screen" href="@{'public/bootstrap/css/bootstrap.min.css'}" type="text/css">
		<link rel="stylesheet" media="screen" href="@{'public/stylesheets/themes/default.scss'}" type="text/css">
		<style type="text/css">
			html,body {
				margin: 0;
				padding: 0;
				background-color: transparent;
			}
		</style>
	</head>
	<body>
		<div id="overlay-list">
			#{include "Timers/overlay/content.html" /}
		</div>
		<div style="clear:both;"></div>
		<script type="text/javascript">
		<!--
		var overlayInterval = 60 // seconds
		var overlayAction = #{jsAction @Timers.overlayRefresh(':playerName') /}
		overlay = setInterval(function() {
			$.get(overlayAction({playerName: "${player.name}"}), function(data) {
				$("#overlay-list").html(data)
			})
		}, overlayInterval*1000)
		//-->
		</script>
	</body>
</html>

