*{ *********** SALE OFFER ********** }*
#{if sale.isAdventure()}
	<div class="adventureSaleContainer">
		<table class="adventureSaleTable" width="100%" cellspacing="5">
			<tr>
				%{
					String tdclass = "";
					if(sale.isSeller(controllers.Application.getSessionLogin()))
						tdclass = "ownSale";
					else if(sale.isBuyer(controllers.Application.getSessionLogin()))
						if(!sale.getOffer(controllers.Application.getSessionLogin()).hasAnswer())
							tdclass = "offerStatusWaiting";
						else if(sale.getOffer(controllers.Application.getSessionLogin()).sold)
							tdclass = "offerStatusAccepted";
						else
							tdclass = "offerStatusRejected";
				}%
				<td class="adventureSaleTableContent adventureSaleImageCell ${tdclass}" width="10%" rowspan="5"><img src="/public/${sale.getWorldAdventure().getImage()}" /></td>
			</tr>
			<tr>
				<td class="adventureSaleTableHeader">${sale.itemQuantity} ${sale.itemName}</td>
				<td class="adventureSaleTableHeader">&{'market.adventure.comments'}</td>
			</tr>
			<tr>
				<td class="adventureSaleTableHeader">&{'market.adventure.seller', sale.seller.name}</td>
				<td class="adventureSaleTableContent" rowspan="4" width="60%">${sale.description.raw()}</td>
			</tr>
			<tr>
				<td class="adventureSaleTableContent">&{'market.adventure.from'} ${sale.startAt.format()} &{'market.adventure.to'} ${sale.endAt.format()}</td>
			</tr>
			<tr>
				<td class="adventureSaleTableContent">
					#{a @Market.details(sale.id)}&{'market.details'}#{/a}
					#{if canBuyAndSell}
						*{ *** Currently buying or not *** }*
						#{if !sale.isBuyer(controllers.Application.getSessionLogin())}
							#{if !sale.isSeller(controllers.Application.getSessionLogin())}
								&nbsp;|&nbsp;#{a @Market.buy(sale.id)}&{'market.buy'}#{/a}
							#{/if}
						#{/if}
						#{else}
							#{if tdclass.equals("offerStatusWaiting")}
								<span class="offerStatusWaiting">&{'market.adventure.offer.sold.waiting'}</span>
							#{/if}
							#{elseif tdclass.equals("offerStatusAccepted")}
								<span class="offerStatusAccepted">&{'market.adventure.offer.sold.yes'}</span>
							#{/elseif}
							#{elseif td.equals("offerStatusRejected")}
								<span class="offerStatusRejected">&{'market.adventure.offer.sold.no'}</span>
							#{/elseif}
						#{/else}
					#{/if}
				</td>
			</tr>
		</table>
	</div>
#{/if}