#{extends 'Market/template.html' /}
#{set title: 'Market' /}

<div class="container-fluid">

	<div class="row-fluid">
		<p class="span11 offset1 alert alert-error">
			Il est <b>strictement interdit</b> d'utiliser le marché de MyRealm pour échanger de l'argent réel ou d'autres biens du monde réel.
		</p>
	</div>
	
	<div class="row-fluid">
		<p class="span11 offset1 alert alert-error">
			Using MyRealm market to exchange money or goods in the real world is <b>stricty forbidden</b>.
		</p>
	</div>

</div>