*{ Sorting adventures }*
<div class="form well">
	<label class="select">&{'sort.by'}</label> 
	<select id="adventures_sorting_combo" onchange="adventures_sortedIndex('${player.name}')">
		<option value="name-asc">&{'adventures.sort.name.asc'}</option>
		<option value="name-desc">&{'adventures.sort.name.desc'}</option>
		<option value="dstart-asc">&{'adventures.sort.dateStart.asc'}</option>
		<option selected value="dstart-desc">&{'adventures.sort.dateStart.desc'}</option>
		<option value="dend-asc">&{'adventures.sort.dateEnd.asc'}</option>
		<option value="dend-desc">&{'adventures.sort.dateEnd.desc'}</option>
	</select>
	
	<label class="select">&{'show.only'}</label>
	<select id="adventures_showonly_combo" onchange="adventures_sortedIndex('${player.name}')">
		<option value="">&{'show.all.adventures'} &{'show.label.adventure'}</option>
		#{list player.getDistinctAdventureNames(), as: 'name'}
			<option value="${name}">${name}</option>
		#{/list}
	</select>
	<select id="adventures_selforpart_combo" onchange="adventures_sortedIndex('${player.name}')">
		<option value="">&{'show.all.adventures'} &{'show.label.selforp'}</option>
		<option value="SELF">&{'show.only.adventures'}</option>
		<option value="PARTICIPATIONS">&{'show.only.participations'}</option>
	</select>
	<select id="adventures_thelast_combo" onchange="adventures_sortedIndex('${player.name}')">
		<option value="">&{'show.all.adventures'} &{'show.label.number'}</option>
		<option value="5">&{'show.only.the.x.last', 5}</option>
		<option value="10">&{'show.only.the.x.last', 10}</option>
		<option value="25">&{'show.only.the.x.last', 25}</option>
		<option value="50">&{'show.only.the.x.last', 50}</option>
		<option value="100">&{'show.only.the.x.last', 100}</option>
		<option value="500">&{'show.only.the.x.last', 500}</option>
	</select>
</div>