	<b><u>Version 1.4.1 (24/02/2012)</u></b>
	<br /><b>Exportation des données</b> depuis la page des préférences du profil
	<br />Données exportables: <i>Bâtiments</i>, <i>Aventures</i>, <i>Actions</i>
	<br />Exportation à l'écran ou dans un fichier
	<br />Formats d'exportation: CSV, TSV, XML, HTML
	<br />Système d'indicateurs renvoyant vers la page d'aide dédiée: &{'help.link.small', "http://settlers.valhalla.fr/wiki/myrealm/"}
	
	<br />- <a href="/public/changelog.html">&{'home.previous'}</a>



