#{extends 'main.html' /}
#{set title:'Home' /}

<div class="container-fluid">

	<div class="row-fluid">
	
		<div class="span1"></div>
		<div class="span10">
			#{form @Application.password(playerName), class:'well form form-inline'}
        		<input type="text" class="btn-large" name="password" placeholder="&{'preferences.password'}" />
        		<input type="submit" class="btn btn-large btn-success" value="&{'form.connect'}" />
			#{/form}
		</div>
		<div class="span1"></div>
	
	</div>
	
	<div class="row-fluid">
	
		<div class="span1"></div>
		<div class="span10">
			<p><i>&{'password.safe'}</i></p>
			
		</div>
		<div class="span1"></div>
	
	</div>

	#{if recoverpwd}
	<div class="row-fluid">
	
		<div class="span1"></div>
		<div class="span10">
			#{a @Application.sendNewPassword(playerName)}&{'password.send.new'}#{/a}
		</div>
		<div class="span1"></div>
	</div>
	#{/if}

</div>



